/* body{
  position: relative;
} */

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  position: sticky;
  top: 30px;
}

.navbar{
  display: flex;
  flex-direction: row;
  /* alinea los elementos en el eje x */
  justify-content: space-between;
  /* alinea los elementos en el eje y */
  align-items: center;
  /* flex-wrap: flex-start; */
  /* flex-wrap: flex-end; */
  /* flex-wrap: center; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: inherit; */
  background-color: skyblue;
  border-radius: 15px;
  width: 80vw;
  padding: 10px 20px;
 /*  padding-left: 20px;
  padding-right: 20px; */
}

.logo{
  width: 100px;
  height: 50px;
}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item{
  cursor: pointer;
  background-color: rgba(127, 255, 212, 0.297);
  border-radius: 5px;
  font-weight: bolder;
  padding: 5px;
}

.absoluteSection{
  /* position: absolute; */
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: rgba(255, 0, 0, 0.5);
  width: 50px;
  border-radius: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 
Crea un contenedor flex con 3 círculos de 50px, distribuidos con espacio entre ellos (space-around).
*/